name: Pool
description: velodrome v2
contracts:
  - name: PoolFactory
    handler: src/EventHandlers.ts
    events:
      - event: PoolCreated(address indexed token0, address indexed token1, bool indexed stable, address pool, uint256 unnamed)
        requiredEntities:
          - name: StateStore
            labels: ["stateStore"]
  - name: Pool
    handler: src/EventHandlers.ts
    events:
      - event: Fees(address indexed sender, uint256 amount0, uint256 amount1)
        requiredEntities:
          - name: LiquidityPool
      - event: Swap(address indexed sender, address indexed to, uint256 amount0In, uint256 amount1In, uint256 amount0Out, uint256 amount1Out)
        requiredEntities:
          - name: LiquidityPool
          - name: LiquidityPoolUserMapping
          - name: User
            labels: ["user"]
      - event: Sync(uint256 reserve0, uint256 reserve1)
        requiredEntities:
          - name: StateStore
            labels: ["stateStore"]
          - name: LiquidityPool
            labels:
              - singlePool
            arrayLabels:
              - stablecoinPools
              - whitelistedPools
          - name: Token
            arrayLabels:
              - whitelistedTokens
  - name: Voter
    handler: src/EventHandlers.ts
    events:
      - event: DistributeReward(address indexed sender, address indexed gauge, uint256 amount)
        requiredEntities:
          - name: Gauge
          - name: Token
            labels:
              - veloToken
      - event: GaugeCreated(address indexed poolFactory, address indexed votingRewardsFactory, address indexed gaugeFactory, address pool, address bribeVotingReward, address feeVotingReward, address gauge, address creator)
        requiredEntities:
          - name: LiquidityPool
      # TODO: Figure out how to handle this event
      # - event: GaugeKilled(address indexed gauge)
networks:
  - id: 10 # Optimism
    start_block: 0
    contracts:
      - name: PoolFactory
        address:
          - 0xF1046053aa5682b4F9a81b5481394DA16BE5FF5a
      - name: Pool
        address:
          - 0x0493Bf8b6DBB159Ce2Db2E0E8403E753Abd1235b # vAMM-WETH/USDC.e
          - 0xd25711EdfBf747efCE181442Cc1D8F5F8fc8a0D3 # vAMMV2-WETH/OP
          - 0xe9581d0F1A628B038fC8B2a7F5A7d904f0e2f937 # vAMMV2-OP/VELO
          - 0x0df083de449F75691fc5A36477a6f3284C269108 # vAMMV2-OP/USDC
          - 0x8134A2fDC127549480865fB8E5A9E8A8a95a54c5 # vAMMV2-USDC/VELO
          - 0x58e6433A6903886E440Ddf519eCC573c4046a6b2 # vAMMV2-WETH/VELO
          # - 0x7A7f1187c4710010DB17d0a9ad3fcE85e6ecD90a # vAMMV2-RED/VELO
          # - 0x6387765fFA609aB9A1dA1B16C455548Bfed7CbEA # vAMM-WETH/LUSD
      - name: Voter
        address:
          - 0x41C914ee0c7E1A5edCD0295623e6dC557B5aBf3C
  # This has been tested and is working - just commenting it out for now
  - id: 8453 # Base
    start_block: 0
    contracts:
      - name: PoolFactory
        address:
          - 0x420DD381b31aEf6683db6B902084cB0FFECe40Da
      - name: Pool
        address:
          - 0xB4885Bc63399BF5518b994c1d0C153334Ee579D0 # vAMM-WETH/USDbC
      - name: Voter
        address:
          - 0x16613524e02ad97eDfeF371bC883F2F5d6C480A5
